h1
{
	font-family: serif;
	font-size: 44px;
	text-align: center;
	padding: 36px;
}

h2
{
	font-family: serif;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}

.commander-damage h2, .commander-tax h2
{
	font-size: 22px !important;
}

p.button
{
	font-family: serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

p.options
{
	font-family: serif;
	font-size: 24px;
}

.left-align
{
	text-align: left;
	padding-left: 16px;
}

.right-align
{
	text-align: right;
	padding-right: 16px;
}

.tracker
{
	font-family: serif;
	font-size: 144px;
	text-align: center;
}

.commander-damage .tracker, .commander-tax .tracker
{
	font-size: 128px !important;
}

div.inline-block-parent
{
	text-align: center;
}

div.options-parent
{
	align-self: center;
	align-items: center;
	width: 25%;
	margin: auto;
	border: 2px solid;
	border-color: currentColor;
	border-radius: 10px;
	position: relative;
	top: 40px;
}

.inline-block-child
{
	display: inline-block;
	align-items: center;
	vertical-align: middle;
	width: 21%;
	border: 2px solid;
	border-color: currentColor;
	border-radius: 10px;
}

.life
{
	width: 25% !important;
}
