@import url('./themelist.css');

:root
{
	--bgColor: #080808;
	--textColor: #f7f5ff;
	--divColor: #171717;
}

body
{
	background-color: var(--bgColor);
}

.colorable-text
{
	color: var(--textColor);
}

.colorable-bg
{
	background-color: var(--divColor);
}

h1
{
	font-family: serif;
	font-size: 44px;
	text-align: center;
	padding: 36px;
	color: var(--textColor);
}

h2
{
	font-family: serif;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	color: var(--textColor);
}

.commander-damage h2, .commander-tax h2
{
	font-size: 22px !important;
}

p.button
{
	font-family: serif;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	color: var(--textColor);
}

p.options
{
	display: inline-flex;
	font-family: serif;
	font-size: 24px;
	color: var(--textColor);
}

.left-align
{
	text-align: left;
	padding-left: 16px;
	padding-right: auto;
}

.right-align
{
	text-align: right;
	float: right;
	padding-right: 16px;
	padding-left: auto;
}

.tracker
{
	font-family: serif;
	font-size: 144px;
	text-align: center;
	color: var(--textColor);
}

.commander-damage .tracker, .commander-tax .tracker
{
	font-size: 128px !important;
}

div.inline-block-parent
{
	text-align: center;
}

div.options-parent
{
	align-self: center;
	align-items: center;
	width: 25%;
	margin: auto;
	border: 2px solid;
	border-color: var(--textColor);
	border-radius: 10px;
	position: relative;
	top: 40px;
	background-color: var(--divColor);
}

.inline-block-child
{
	display: inline-block;
	align-items: center;
	vertical-align: middle;
	width: 21%;
	border: 2px solid;
	border-color: var(--textColor);
	border-radius: 10px;
}

.life
{
	width: 25% !important;
}
