/* Replace theme-name with the name of your theme
and the color codes in the code blocks with colors
of your choice.

Remember to also @import the theme into themelist.css! */

[data-selected-theme="theme-name"]
{
	--bgColor: #000000 !important;
	--textColor: #ffffff !important;
	--divColor: #00000000 !important;
}
