/* Replace theme-name with the name of your theme
and the color codes in the code blocks with colors
of your choice. */

[data-selected-theme="theme-name"]
{
	--bgColor: #000000;
	--textColor: #ffffff;
	--divColor: #00000000;
}
